$primery: #AA0601;
$secondary: #650300;
$title-pc: #9F1213;
$title-pad: #9C2015;
$gray: #707070;
$gray-2: #555555;
$gray-3: #6C6C6C;
$brown: #B75929;
$darkbrown: #5F3E2D;
$dark: #212529;
$border-color: #CED4DA;
$border-color-2: #00000020;
$border_color-3: #DCDCDC;
$border-color-4: #DEE2E6;
$shadow: #00000029;
$font-color: #0A0A0A;
$option-color: #495057;
$bg: #F2F2F2;
$bg-2: #FBF2F2;