.header {
    background-color: $primery;
    padding: 30px 88px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    h1 {
        a {
            background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true');
            background-size: contain;
            width: 80px;
            height: 48.57px;
            display: block;
            text-indent: 101%;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    .menu {
        margin-right: -32px;

        a {
            padding: 8px 32px;
        }
    }

    .home {
        display: none;
    }

    @include tablet {
        padding: 30px 39px;

        .menu {
            margin-right: -20px;

            a {
                padding: 8px 20px;
            }
        }
    }

    @include phone-m {
        padding: 0;
        flex-direction: column;

        h1 {
            padding: 10px 0;

            a {
                width: 48px;
                height: 29.14px;
            }

        }

        .menu {
            width: 100%;
            margin: 0;
            text-align: center;

            li {
                width: 50%;
                border: 1px solid #FFF;
            }
        }
    }
}