.breadcrumb {
    padding: 8px 0;
    a {
        color: #000;
    }
    .special {
        color: $primery;
    }
    @include tablet {
        a {
            font-size: 14px;
        }
    }
}
.blog-content {
    justify-content: space-between;
}
.blogContent-text {
    width: 72%;
    .blogContent-title {
        font-size: 48px;
        margin-bottom: 8px;
    }
    .blogContent-subtitle {
        justify-content: space-between;
        align-items: center;
        font-size: 28px;
        margin-bottom: 24px;
        time {
            font-size: 16px;
            color: $gray-3;
        }
    }
    @include tablet {
        .blogContent-title {
            font-size: 32px;
            margin-bottom: 4px;
        }
        .blogContent-subtitle {
            font-size: 16px;
            time {
                font-size: 14px;
            }
        }
    }
    @include phone-m {
        width: 100%;
        .blogContent-title {
            font-size: 20px;
            margin-bottom: 0;
        }
        .blogContent-subtitle {
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
}
.blogContent-list {
    img {
        width: 100%;
        object-fit: cover;
    }
    p {
        font-size: 20px;
        color: $font-color;
        padding: 24px 0 40px;
    }
    @include tablet {
        p {
            font-size: 16px;
            padding: 16px 0 24px;
        }
    }
}
.blogContent-tags {
    width: 25%;
    .tags-title {
        align-items: center;
        font-size: 28px;
        font-weight: bold;
        color: $primery;
        margin-bottom: 8px;
        img {
            width: 48px;
            margin-right: 8px;
        }
    }
    @include tablet {
        .tags-title {
            font-size: 20px;
            img {
                width: 24px;
                margin-right: 0;
            }
        }
    }
    @include phone-m {
        width: 100%;
        margin-bottom: 56px;
    }
}
.share {
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 0 20px;
    img {
        margin-left: 16px;
    }
    @include phone-m {
        font-size: 16px;
        padding: 0 0 16px;
        img {
            width: 20px;
        }
    }
}
.another {
    justify-content: space-between;
    padding-top: 24px;
    border-top: 1px solid $gray;
    li {
        margin-bottom: 8px;
        a {
            color: #000;
            font-size: 19px;
            &:hover {
                color: $primery;
            }
        }
        .prev {
            margin-right: 8px;
            transform: scaleX(-1);
        }
        .next-pc {
            margin-left: 8px;
        }
        .next-phone {
            margin-right: 8px;
            display: none;
        }
    }
    @include tablet {
        padding-top: 16px;
        li {
            a {
                font-size: 16px;
            }
        }
    }
    @include phone-m {
        flex-direction: column;
        padding-top: 10px;
        li {
            a {
                font-size: 14px;
            }
            .next-pc {
                display: none;
            }
            .next-phone {
                display: inline-block;
            }
        }
    }
}
.content-footer {
    margin-bottom: 152px;
    @include tablet {
        display: none;
    }
    @include phone-m {
        display: block;
        margin-bottom: 30px;
    }
}
.content-footer-full {
    margin-bottom: 88px;
    display: none;
    @include tablet {
        display: block;
    }
    @include phone-m {
        display: none;
    }
}