.menu {
    li {
        a {
            display: block;
            color: #FFF;

            &:hover {
                color: $secondary;
                background-color: #FFF;
            }
        }
    }
}