.nav {
    background-color: $secondary;
    .nav-block {
        justify-content: space-between;
        align-items: center;

        input {
            width: 30px;
            height: 30px;
            background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-search.svg') no-repeat center;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }

    .nav-menu {
        margin-left: -24px;

        li {
            a {
                font-size: 20px;
                padding: 12px 24px;
                display: block;

                &:hover {
                    background-color: $primery;
                }
            }

        }
    }

    @include tablet {
        .nav-menu {
            margin-left: -16px;

            li {
                a {
                    font-size: 16px;
                    padding: 16px;
                }
            }
        }
    }

    @include phone-m {
        .nav-block {
            input {
                display: none;
            }
        }

        .nav-menu {
            margin: 0;
            width: 100%;
            justify-content: space-between;

            li {
                a {
                    padding: 16px 0;
                }
            }
        }
    }
}